.nav-bar-wrapper {
  .nav-bar {
    display: block;
    text-align: center;
    .nav-icon {
      width: 80px;
      height: 80px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p {}
  }
}
